.undecorated {
    color: black;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #006ac3 !important;
}

.btn-primary:hover {
    background-color: #0063b7 !important;
}

.card-deck > .card {
    min-width: 15rem;
    max-width: 20rem;
}

figure > figcaption {
    text-align: center;
}